* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}
.content::after {
  content: "";
  display: block;
  clear: both;
}
.course-img-div {
  float: left;
  width: 240px;
}
.course-price-div {
  width: 240px;
  float: left;
  padding-left: 50px;
}
.course-detail-div {
  width: 240px;
  float: left;
  padding-left: 50px;
}
.course {
  border: 2px solid #000;
  border-radius: 3px;
  width: 770px;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.course-name {
  font-size: 22px;
  color: #0039fe;
  border: 1px solid #0039fe;
  font-weight: bold;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  margin-bottom: 20px;
}
.course-img {
  border-radius: 3px;
  width: 100%;
  height: auto;
}
.course-price {
  font-size: 24px;
  margin-bottom: 5px;
}
.course-description {
  font-size: 12px;
  color: grey;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.course-link:link,
.course-link:visited {
  color: #000;
  text-decoration: underline;
  font-size: 20px;
}
.course-link:hover,
.course-link:active {
  text-decoration: none;
}
.course-detail {
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 20px 0 5px;
}
.course-units {
  list-style: square;
  margin: 0 0 20px 20px;
}
.go-button {
  color: white;
  font-size: 20px;
  background-color: #0039fe;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 3px;
  transition: background 0.3s;
  width: 100%;
  margin-top: 20px;
}
.go-button:hover {
  background-color: #4777ff;
}
.sale {
  position: absolute;
  background-color: red;
  color: white;
  letter-spacing: 3px;
  text-transform: uppercase;
  top: -10px;
  left: -30px;
  border-radius: 3px;
  padding: 5px;
  rotate: -30deg;
}
.roadmap {
  margin-top: 20px;
  margin-bottom: 5px;
}
.roadmap-list {
  list-style: none;
}
.roadmap-list li {
  display: inline;
  border: 2px solid;
  border-radius: 3px;
  padding: 5px;
}
.roadmap-list li:first-child {
  border-color: #ffa500;
}
.roadmap-list li:nth-child(2) {
  border-color: #0000ff;
}
.roadmap-list li:last-child {
  border-color: #f6f62b;
}
